<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>휴가 신청 폼</title>

<style>
    .container {
    max-width: 560px;
    }
    .field-error {
    border-color: #dc3545;
    color: #dc3545;
    }
    </style>

</head>

<body>
<h2>휴가 신청</h2>
<form th:action  method="post" >
  
 
  <label for="days">신청할 휴가 일 수:</label>
  <input type="number" id="leftover_days" name="leftover_days" th:field="*{leftover_days}" th:errorclass="field-error" placeholder="잔여 휴가 일 수를 입력하세요"><br>
  <div class="field-error" th:errors="*{leftover_days}"/>

  <div>
  <button type="submit">신청</button>
  </div>
  
  <div>
    <button 
        th:onclick="|location.href='@{/members/{member_id}(member_id=${form.member_id})}'|"
        type="button">취소</button>
  </div>

</form> 
</body>
</html>
