<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>휴가 신청 폼</title>

<style>
    .container {
    max-width: 560px;
    }
    .field-error {
    border-color: #dc3545;
    color: #dc3545;
    }
    </style>

</head>

<body>
<h2>휴가 신청</h2>
<form th:action th:object="${form}" method="post" >
  
  <label for="holidayKind">휴가 종류:</label>
  <select id="holidayKind" name="holidayKind">
        <option value="BASIC">연가</option>
        <option value="PRIZE">포상</option>
        <option value="EFFORT">위로</option>
  </select>
 
  <label for="holidayDays">신청할 휴가 일 수:</label>
  <input type="number" id="holidayDays" name="holidayDays" th:value="${form.holidayDays}" placeholder="신청할 휴가 일 수를 입력하세요">

  <label for="startDate">시작 날짜:</label>
  <input type="date" id="startDate" name="startDate" th:value="${form.startDate}">

  <label for="endDate">종료 날짜:</label>
  <input type="date" id="endDate" name="endDate" th:value="${form.endDate}">

  <div>
  <button type="submit">신청</button>
  </div>
  
  <div>
    <button 
        th:onclick="|location.href='@{/members/{member_id}(member_id=${member.member_id})}'|"
        type="button">취소</button>
  </div>

</form> 
</body>
</html>
