<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 휴가 리스트</title>
</head>
<body>

    <h2>휴가 신청 목록</h2>

<table>
<thead>
<tr>
<th>#</th>
<th>휴가 종류</th>
<th>휴가 일 수</th>
<th>휴가 시작일</th>
<th>휴가 종료일</th>
<th>상태</th>
<th>  </th>

</tr>
</thead>

<tbody>
<tr th:each="holiday : ${holidays}">
    <td th:text="${holiday.id}"></td>
    <td th:text="${holiday.kind.description}"></td>
    <td th:text="${holiday.holidayDays}"></td>
    <td th:text="${holiday.startDate}"></td>
    <td th:text="${holiday.endDate}"></td>
    <td th:text="${holiday.status.name()}"></td>
    <td>
        <a th:if="${holiday.status.name() == 'WAIT'}" th:href="'javascript:cancel('+${holiday.id}+')'">CANCEL</a> 
    </td>

</tr>
</tbody>
</table>
</body>

<script>
   
    function cancel(id){
        var form = document.createElement("form");
        form.setAttribute("method","post");
        form.setAttribute("action","/leader/holidayList/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>