<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>멤버 정보</title>
</head>
<body>
    
<h2>멤버 정보</h2>

<div>
    <label for="member_id">군번</label>
    <input type="text" id="member_id" name="member_id" th:value = "${member.member_id}" readonly>
    </div>
    
    <div>
    <label for="name">성명</label>
    <input type="text" id="name" name="name" th:value = "${member.name}" readonly>
    </div>
    
    <div>
    <label for="leftover_days">잔여 휴가</label>
    <input type="text" id="leftover_days" name="leftover_days" th:value = "${member.leftover_days}" readonly>
    </div>
    
    <div>
    <label for="points">상점</label>
    <input type="text" id="points" name="points" th:value = "${member.points}" readonly>
    </div>


    <div>
        <button 
        th:onclick="|location.href='@{/members/{member_id}/edit(member_id = ${member.member_id})}'|"
        type="button">정보 수정</button>
    </div>

    <div>
        <button 
        th:onclick="|location.href='@{/member/members}'|"
        type="button">취소</button>
    </div>
</body>
</html>
